## Bank Note Authentication
Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

In [1]:
##Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('BankNote_Authentication.csv')
df

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [3]:
## Independent and dependent features/.
X=df.iloc[:, :-1]
y=df.iloc[:, -1]

In [4]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [6]:
y.head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: class, dtype: int64

In [7]:
## Train test split

In [8]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [16]:
X_train

      variance   skewness  curtosis   entropy
122   -1.45720   9.121400  1.742500 -5.124100
1356  -4.07860   2.923900  0.870260 -0.653890
1015  -0.90784  -7.902600  6.780700  0.341790
1163   0.68180   4.850400 -5.213300 -6.104300
1034   0.67886   4.119900 -4.569000 -4.141400
...        ...        ...       ...       ...
763    0.39012  -0.142790 -0.031994  0.350840
835   -0.94255   0.039307 -0.241920  0.315930
1216   0.60050   0.999450 -2.212600  0.097399
559    2.01650  -0.252460  5.170700  1.076300
684   -2.07590  10.822300  2.643900 -4.837000

[960 rows x 4 columns]

In [ ]:
### The samples that we are selecting at random changes when we change the random state key parameter

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [20]:
X_train

      variance  skewness  curtosis   entropy
694    0.74054   0.36625  2.199200  0.484030
880   -2.35180  -4.83590  6.647900 -0.060358
1251  -0.77688   0.13036 -0.031137 -0.353890
812   -2.06590   1.05120 -0.462980 -1.097400
1212  -2.45600  -0.24418  1.404100 -0.458630
...        ...       ...       ...       ...
715    3.49160   8.57090 -3.032600 -0.591820
905    0.74521   3.63570 -4.404400 -4.141400
1096  -4.36670   6.06920  0.572080 -5.466800
235    2.04660   2.03000  2.176100 -0.083634
1061  -2.31470   3.66680 -0.696900 -1.247400

[960 rows x 4 columns]

In [21]:
### Implement random Forest Classifier

In [23]:
from sklearn.ensemble import RandomForestClassifier
Classifier=RandomForestClassifier()
Classifier.fit(X_train,y_train)

C:\Users\hitesh sharma\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [24]:
### Prediction

In [25]:
y_pred=Classifier.predict(X_test)

In [26]:
### Check accuracy score.

In [27]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
score

0.9902912621359223

In [28]:
### Create a pickle file using Serialization

In [32]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("Classifier.pkl","wb")
pickle.dump(Classifier, pickle_out)
pickle_out.close()